header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 32px;
  padding: 24px 60px;
  background-color: var(--c1);
}

header div {
  display: flex;
  gap: 60px;
  margin-right: 60px;
  align-items: center;
}

header div p {
  font: 400 1.4rem/1.3 "Lato";
}

header div:last-child img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

header a + a p {
  border: 1.5px solid var(--p6);
  border-radius: 24px;
  padding: 8px 60px;
}

header a + a p:hover {
  background-color: var(--p6);
  color: var(--c3);
}

header input {
  border: none;
  border-radius: 32px;
  padding-left: 80px;
  height: 58px;
  width: 100%;
  font: 400 1.5rem/1.2 "Poppins";
}

#input-header {
  position: relative;
}

#input-header img {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 16px;
  cursor: pointer;
}

header #menu {
  display: block;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 6;
  padding-top: 20px;
  background-color: var(--c1);
  padding-left: 28px;
  margin-right: 0px;
  padding-right: 48px;
}

header #menu > img {
  position: fixed;
  right: 36px;
  padding: 3px;
  background-color: var(--c12);
  border-radius: 50%;
}

header #menu a:nth-child(2) {
  margin-top: 60px;
}

header #menu a {
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 12px;
  padding: 10px 20px;
  background-color: #fff;
}

header #menu a p {
  font: 600 1.6rem / 1.3 "Lato";
}

header #menu img {
  width: 40px;
  height: 40px;
}

header #menu a + a p {
  padding: 0px;
  border: none;
}

header #menu a + a p:hover {
  background-color: inherit;
  color: inherit;
}

header img + img {
  display: none;
}

@media (max-width: 1200px) {
  header div {
    gap: 40px;
    margin-right: 32px;
  }

  header #input-header + div {
    margin-left: auto;
  }
}

@media (max-width: 1000px) {
  #input-header + div a,
  #input-header + div img {
    display: none;
  }

  header #input-header + div img + img {
    display: block;
  }
}

@media (max-width: 800px) {
  header {
    justify-content: space-between;
    align-items: center;
  }

  header div p {
    font-size: 1.2rem;
  }

  header a + a p {
    padding: 4px 28px;
  }

  header > a > img {
    width: 140px;
  }

  header #menu {
    padding: 16px 28px 0px 16px;
  }

  header #menu a img {
    width: 36px;
    height: 36px;
  }

  header #menu a p {
    font-size: 1.3rem;
  }

  header #menu > img {
    width: 32px;
    height: 32px;
    right: 24px;
  }
}

@media (max-width: 640px) {
  header #input-header + div img + img {
    width: 40px;
    height: 40px;
  }

  header input {
    min-width: 100px;
    padding-left: 16px;
    border-radius: 16px;
    height: 2.1rem;
    font-size: 1.2rem;
  }

  #input-header img {
    width: 36px;
    height: 36px;
  }

  header {
    padding: 20px 32px;
  }

  header div {
    margin-right: 0px;
  }

  header div p {
    font-size: 1.2rem;
  }

  header > a > img {
    width: 120px;
  }
}

@media (max-width: 500px) {
  #input-header img {
    display: none;
  }

  header {
    gap: 20px;
    padding-left: 20px;
  }

  header div p {
    font-size: 1rem;
  }

  header a + a p {
    padding: 4px 20px;
  }

  header > a > img {
    width: 80px;
  }
}
